@font-face {
  font-family: 'Ciutadella-Medium';
  src: url('../../fontnew/Ciutadella/315CA1_1_0.eot');
  src: url('../../fontnew/Ciutadella/315CA1_1_0.eot?#iefix') format('embedded-opentype'),
  url('../../fontnew/Ciutadella/315CA1_1_0.woff') format('woff'),
  url('../../fontnew/Ciutadella/315CA1_1_0.ttf') format('truetype'),
  url('../../fontnew/Ciutadella/315CA1_1_0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ciutadella-Regular';
  src: url('../../fontnew/Ciutadella/315CA1_3_0.eot');
  src: url('../../fontnew/Ciutadella/315CA1_3_0.eot?#iefix') format('embedded-opentype'),
  url('../../fontnew/Ciutadella/315CA1_3_0.woff') format('woff'),
  url('../../fontnew/Ciutadella/315CA1_3_0.ttf') format('truetype'),
  url('../../fontnew/Ciutadella/315CA1_3_0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}