

.qbr-home_section1_banner-img {
	background-image: url(.././img/bannerImage.jpg);
	background-size: cover;
	height: 515px;

}

.qbr-home_section1_video-control {
	height: 100%;
	position: relative;
}

.qbr-home_section1_banner-title {
	margin-top: 45px;
}

.qbr-home_section1_banner-title h1 {
	color: #f4f5f6;
}


.qbr-home_section1_video-play-btn-1 {
	margin: auto;
  	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	max-width: 100px;
	max-height: 100px;
	cursor: pointer;
}


.qbr-home_section2{
	padding: 82px 0px;
}

.qbr-home_section2_img-container {
  text-align: center;
  white-space: nowrap;
  height: 138px;
}

/* A ghost block to maintain perfect centering */
.qbr-home_section2_img-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.qbr-home_section2_img {
	display: inline-block;
  	vertical-align: middle;
  	min-width: 186px;
  	min-height: 48px; 
}


.qbr-home_section2_text{
	font-size: 30px;
	font-family: 'Ciutadella';
	line-height: 46px;
	color: #4b4b4b;
	
}

.qbr-home_section2_btn_down{
	display: block;
	margin-top:36px;
	min-width: 31px;
	min-height: 31px;
}

.qbr-home_section3{
	 background-image: linear-gradient(to bottom, #4b4b4b, #323232);
}

.qbr-home_section3_title h1{
	 color: #f4f5f6;
	 margin-top: 59px;
	 text-align: center;
}
.qbr-home_section3_text h4{
	 color: #f4f5f6;
	 margin-top: 22px;
	 text-align: center;
}

.qbr-home_section3_video-wrapper{
	width: 100%;
	height: 498px;
	border-radius: 4px;
	margin-top: 63px;
    background-image: linear-gradient(to bottom, #ffffff, #d0ced0);
}

.qbr-home_section3_video-control {
	height: 100%;
	position: relative;
}

.qbr-home_section3_video-play-btn-2 {
	margin: auto;
  	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	max-width: 100px;
	max-height: 100px;
	cursor: pointer;
}

.qbr-home_section3_video-play-text {
  	position: relative;
    width: 100vw;
    top: 47px;
    left: calc(-50vw + 50%);
    text-align: center;
    color: rgba(228, 0, 0, 0.9);
}

.qbr-home_section3_video-play-text h2 {
    color: #e40000;
}

.qbr-home_section3_boarding-call {
	margin-top: 85px;
	padding-top: 72px;
	padding-bottom: 82px;
}

.qbr-home_section3_boarding-call_title h1 {
	font-size: 30px;
	color: #f4f5f6;
} 

.qbr-home_section3_boarding-call_text h4 {
	margin-top: 22px;
	color: #f4f5f6;;
}

.qbr-home_section3_boarding-call_button {
	margin-top: 35px;
	width: 304px;









