/**
 * Custom css to override Foundation.css styles and styles which will be common for new pages starts
 */
@font-face {
    font-family: 'Ciutadella';
    src: url('fontnew/Ciutadella/315CA1_1_0.eot');
    src: url('fontnew/Ciutadella/315CA1_1_0.eot?#iefix') format('embedded-opentype'),
    url('fontnew/Ciutadella/315CA1_1_0.woff') format('woff'),
    url('fontnew/Ciutadella/315CA1_1_0.ttf') format('truetype'),
    url('fontnew/Ciutadella/315CA1_1_0.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Ciutadella';
    src: url('fontnew/Ciutadella/315CA1_3_0.eot');
    src: url('fontnew/Ciutadella/315CA1_3_0.eot?#iefix') format('embedded-opentype'),
    url('fontnew/Ciutadella/315CA1_3_0.woff') format('woff'),
    url('fontnew/Ciutadella/315CA1_3_0.ttf') format('truetype'),
    url('fontnew/Ciutadella/315CA1_3_0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
    border: 2px solid #dadada;
    border-radius: 0;
    box-sizing: border-box;
    color: #323232;
    font-size: 18px;
    height: 48px;
    line-height: 25.5px;
    padding: 10.5px 14px 12px 14px;
    margin-bottom: 13px!important;
    font-family: Ciutadella;
    font-weight: normal;
}
input[type="checkbox"]:after {
    content: '';
    position: absolute;
    font-family: "qantas-icons", sans-serif;
    color: #2d2d2d;
    background: #fff;
    width: 24px;
    height: 24px;
    line-height: 14px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color 0.2s ease-in-out;
    -o-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
    z-index: 0;
}
input[type="checkbox"]:checked:after {
    background: #fff;
    content: "\67";
    padding-top: 4px;
}
input[type="checkbox"] ~ label {
    margin-bottom: 10px;
}
input[type="radio"], input[type="checkbox"] {
    margin: 0px 15px 0 0;
}
input::-ms-clear{
    display: none;
}
input:focus, textarea:focus,
input[type="checkbox"]:hover:after,
input[type="checkbox"]:focus:after {
    outline: none;
    border: solid 2px #8de2e0;
}
input[type="checkbox"]:focus {
    outline: none;
}
input[type="text"].error, input[type="password"].error {
    border: solid 2px #ed710b;
}
label {
    font-size: 16px;
    color: #323232;
    padding-bottom: 4.5px;
    display: block;
    line-height: 20px;
}
a {
    color: #e40000;
}
a:hover, a:focus {
    color: #ba0000;
}

input[type="button"], input[type="submit"], button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #e00;
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: auto;
    letter-spacing: 1.5px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    font-family: Ciutadella;
    height: 48px;
    object-fit: contain;
    display: inline-block;
    width: 100%;
    padding: 12px;
}

input[type="button"]:hover, input[type="submit"]:hover, button:hover {
    background-color: #CD0000;
}

input[type="button"]:active, input[type="submit"]:active, button:active, 
input[type="button"]:visited, input[type="submit"]:visited, button:visited {
    background-color: #870000;
}

input[type="button"]:focus, input[type="submit"]:focus, button:focus {
    background-color: #CD0000;
    outline: none;
    border: none;
}

/*Red Button- White text*/
.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #e00;
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: auto;
    letter-spacing: 1.5px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    font-family: Ciutadella;
    height: 48px;
    object-fit: contain;
    display: inline-block;
    width: 100%;
    padding: 12px;
}
/*White Button- Red text*/
.button.secondary{
    background: #fff;
    border: 1px solid #e00;
    color: #e00;
}
.button:hover, .button.secondary:hover {
    background-color: #CD0000;
    color: #fff;
}
.button:active, .button.secondary:active, 
.button:visited, .button.secondary:visited {
    background-color: #870000;
    color: #fff;
}
.button:focus, .button.secondary:focus {
    background-color: #CD0000;
    color: #fff;
    outline: none;
    border: none;
}

button[disabled], input[type="button"][disabled], input[type="submit"][disabled], .button.disabled{
    background-color: #DADADA;
    color: #323232;
}
button[disabled]:hover, input[type="button"][disabled]:hover, input[type="submit"][disabled]:hover, .button.disabled:hover, 
button[disabled]:active, input[type="button"][disabled]:active, input[type="submit"][disabled]:active, .button.disabled:active, 
button[disabled]:focus, input[type="button"][disabled]:focus, input[type="submit"][disabled]:focus, .button.disabled:focus{
    background-color: #DADADA;
    color: #323232;
    cursor: not-allowed;
}

.qbr-general-action-btn {
    font-family: Ciutadella;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: center;
    color: #e40000;
    border: 1px solid #e40000 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    height: auto;
    background: #fff;
    border-radius: 4px;
    padding: 11px 20px 13px 20px;
    text-transform: uppercase;
    display: inline-block
}

.qbr-general-action-btn:hover {
    background: #cd0000;
    color: #fff;
    text-decoration: none
}

p{
    font-size:18px;
    line-height: 1.56;
    font-family: Ciutadella;
}
h1 {
    font-family: Ciutadella;
    font-size: 46px;
    color: #323232;
    font-weight: normal;
    line-height: 1.2;
}
@media screen and (max-width: 47.9375em) {
    h1 {
        font-size: 34px;
        line-height: 1.18;
    }
}
h2 {
    font-family: Ciutadella;
    font-size: 26px;
    line-height: 1.4;
    color: #323232;
    font-weight: 500;
}
h3 {
    font-family: Ciutadella;
    font-size: 22px;
    line-height: 1.5;
    color: #323232;
    font-weight: 500;
}
h4 {
    font-family: Ciutadella;
    font-size: 18px;
    line-height: 1.56;
    color: #323232;
    font-weight: 500;
}
p.intro-large{
    font-size: 30px;
    line-height: 1.33;
}
@media screen and (max-width: 47.9375em) {
    p.intro-large{
        font-size: 26px;
        line-height: 1.38;
    }
}
p.intro-small{
    font-size: 26px;
    line-height: 1.38;
}
@media screen and (max-width: 47.9375em) {
    p.intro-small{
        font-size: 22px;
        line-height: 1.45;
    }
}

.legal-copy p {
    font-family: Ciutadella;
    font-size: 14px;
    line-height: 1.43;
    color: #323232;
    font-weight: 500;
}

a.qbr{
    text-decoration: none;
    color: #e00;
    font-size: 18px;
    line-height: 1.5;
}

a.qbr:hover{
    text-decoration: none;
    color: #ba0000;
}

a.qbr:after {
    content: '';
    display: inline-block;
    background-image: url("../images/link-arrow-red.svg");
    background-position: 0px 0px;
    width: 12px;
    height: 8px;
    margin-left: .5rem;
}

a.qbr:hover:after {
    background-image: url("../images/hover-arrow-red.svg");
    background-position: -12px 0px;
    width: 12px;
    height: 8px;
}

.red-btn{
    background: linear-gradient(to bottom, #e40000, #c80000);
    font-size: 16px;
    padding: 13px 58px 13px 58px;
    color: #ffffff;
    letter-spacing: 1.5px;
    border-radius: 4px;
}

.red-btn:hover{
    color: #ffffff;
}
/*Select box styles*/
.sbSelector {
    padding: 10.5px 35px 2px 14px;
    color: #323232;
    width: 80%;
}
.sbHolder {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #dadada;
    border-radius: 0;
    box-sizing: border-box;
    color: #323232;
    font-size: 18px;
    height: 48px;
    line-height: 25.5px;
    padding: 10.5px 35px 12px 14px;
    min-width: 80px;
    font-family: Ciutadella;
    font-weight: normal;
}
.sbHolder:focus, .sbHolder:hover {
    border-color: #8de2e0;
    outline: none;
}
.sbToggle {
    right: 5px;
    top: 9px;
}
.sbOptions {
    margin-top: 20px;
}
.sbOptions a {
    background-color: #f4f5f6;
    border-left: 3px solid transparent;
    border-top: 1px solid #dadada;
    font-size: 18px;
    line-height: 25.5px;
    padding: 10.5px 21px 10.5px 18px;
    position: relative;
    vertical-align: middle;
}
.sbOptions a:hover {
    background-color: #fff;
    border-left: 3px solid #8de2e0;
    outline: none;
    font-weight: 600;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover {
    color: #323232;
}

/**
 * Custom css to override Foundation.css styles and styles which will be common for new pages ends
 */


.qbr-main-container .mem-details-header div {
    display: inline-block;
    border-right: 1px solid #CFD0D2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}


@media only screen and (max-width: 768px){
    .qbr-main-container .acc-details-header .desktop-view {
        display: none;
    }
}

.qbr-main-container *{
    font-family: Ciutadella;
}


/*QBR Navigation Menu styles starts*/
.qbr-navigation{
    border-top: 1px solid #CFD0D2;
    border-bottom: 1px solid #CFD0D2;
    border-top: 1px solid #CFD0D2;
}

.qbr-logo{
    background-image: url(images/qbrlogo.jpg);
    width: 160px;
    height: 68px;
    float: left;
    background-repeat: no-repeat;
    background-position: 0px;
}

.qbr-navigation ul,.qbr-sub-navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.qbr-menu li, .qbr-sub-navigation li{
    float: left;
    padding: 14px 16px;
}

.qbr-menu li a, .qbr-sub-navigation li a{
    color: #58595b;
    line-height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.qbr-menu, .qbr-sub-menu{
    max-width: 62.5rem;
    margin: auto;
}

.qbr-sub-menu ul li:first-child{
    margin-left:160px;
}

.qbr-sub-navigation{
    transition: visibility 0s linear 0.1s,opacity 0.1s linear;
    visibility: hidden;
    opacity:0;
    background: -webkit-linear-gradient(top,#ebebeb 0,#dadada 100%);
    position: absolute;
    width: 100%;
    margin-top: -1px;
    border-top: 1px solid #CFD0D2;
    border-bottom: 1px solid #CFD0D2;
}

.qbr-sub-navigation.active{
    visibility: visible;
    opacity: 1;
}

.menu-howitworks div.arrowdown{
    transition: visibility 0s linear 0.1s,opacity 0.1s linear;
    border-top: 1px solid #CFD0D2;;
    border-left: 1px solid #CFD0D2;
    position: absolute;
    z-index: 1;
    margin-left: 30px;
    margin-top: 6px;
    height: 16px;
    width: 16px;
    background-color: #ebebeb;
    transform: rotate(45deg);
    visibility: hidden;
    opacity:0;
}

.menu-logout div.arrowdown{
    transition: visibility 0s linear 0.1s,opacity 0.1s linear;
    border-top: 1px solid #CFD0D2;;
    border-left: 1px solid #CFD0D2;
    position: absolute;
    z-index: 1;
    margin-left: 30px;
    margin-top: 6px;
    height: 16px;
    width: 16px;
    background-color: #ebebeb;
    transform: rotate(45deg);
    visibility: hidden;
    opacity:0;
}

.menu-howitworks.active div,.menu-logout.active div{
    visibility: visible;
    opacity: 1;
}

.menu-howitworks:hover div,.menu-logout:hover div{
    visibility: visible;
    opacity: 1;
}
/*QBR Navigation Menu styles ends*/

