		<style>

			.qbr-new-benefits_section1_banner-img {
				background-image: url(/documents/10482/277951/grey-header-desktop.png/b0806f75-2cf7-4543-9f22-3f50499a19ec?t=1481168424231), url(/documents/10482/277951/benefits-banner-desktop/10c63c6c-30dc-4814-9a7a-90c63242c818?t=1481167710822);
				background-repeat: no-repeat, no-repeat;
				background-size: 100vw 100%, cover;
				background-attachment:scroll, scroll;
    			background-position: center top, right bottom;
    			height: 440px;
    		}

			.qbr-new-benefits_section1_banner-wrapper {
				margin-top: 38px;
				height: 401px;
                position:relative;
			}

		/*	.qbr-new-benefits_section1_logo img {
				height: 30px;
				width: 116px;
			}*/

			.qbr-new-benefits_section1_banner-title h1 {
				margin-top: 70px;
				color: #FFFFFF;
				line-height: 56px;
			}

			.qbr-new-benefits_section2{
				padding: 65px 0px 90px;
			}

			.qbr-new-benefits_section2_text h1 {
				font-size: 30px;
				line-height: 40px;
				color: #323232;
			}

			.qbr-new-benefits_section3{
				background-color: #f4f5f6;
				padding: 63px 0px 61px;
			}

			.qbr-new-benefits_section3> div:not(:first-child){
				margin-top: 46px;
			}

			.qbr-new-benefits_section3_title h2,
			.qbr-new-benefits_section4_title h2,
			.qbr-new-benefits_section5_title h2{
				line-height: 36px;
				font-weight: normal;
			}

			.qbr-new-benefits_section3_text h4,
			.qbr-new-benefits_section4_text h4,
			.qbr-new-benefits_section5_text h4 {
				line-height: 28px;
				font-weight: normal;
			}

			.qbr-new-benefits_section4{
				padding: 63px 0px;
			}

			.qbr-new-benefits_section4> div:not(:first-child){
				margin-top: 42px;
			}

			/*.qbr-new-benefits_section4_icon-plane:before {
			    content: "";
			    display: block;
			    background: url("./img/benefits/plane-icon.png") no-repeat;
			    background-size: contain;
			    width: 36px;
			    height: 36px;
			    border: 8px solid #FFFFFF;
			    float: left;
			    margin: 0 6px 0 0;
			}

			.qbr-new-benefits_section4_icon-dollar:before {
			    content: "";
			    display: block;
			    background: url("./img/benefits/dollar-icon.png") no-repeat;
			    background-size: contain;
			    width: 36px;
			    height: 60px;
			    border: 8px solid #FFFFFF;
			    float: left;
			    margin: 0 6px 0 0;
			}

			.qbr-new-benefits_section4_icon-people:before {
			    content: "";
			    display: block;
			    background: url("./img/benefits/people-icon.png") no-repeat;
			    background-size: contain;
			    width: 36px;
			    height: 36px;
			    border: 8px solid #FFFFFF;
			    float: left;
			    margin: 0 6px 0 0;
			}*/

			.qbr-new-benefits_section5 {
				background-color: #f4f5f6;
				padding: 55px 0px 71px;
			}



			/* Small only */
			@media screen and (max-width: 59.7375em) {

				.qbr-new-benefits_section1_banner-img {
					background-image: url(/documents/10482/277951/grey-header-mobile.png/eb356a0a-92b6-4aaa-be61-86325af1ab96?t=1481168424864), url(/documents/10482/277951/benefits-banner-mobile.jpg/ee92733f-3b15-427d-af74-24f89abec4d1?t=1481168416614);
					background-repeat: no-repeat, no-repeat;
					background-size: 100vw 100%, cover;
					background-attachment:scroll, scroll;
	    			background-position: left top, right top
				}

				.qbr-new-benefits_section1_banner-title h1 {
					margin-top: 20px;
				}

				/*need it to clear when new line breaks on mobile*/ 
				.qbr-new-benefits_section4_icon-plane:before {
				    height: 100px;
				}

				.qbr-new-benefits_section4_icon-dollar:before {
				    height: 180px;
				}

				.qbr-new-benefits_section4_icon-people:before {
				    height: 60px;
				}

				.qbr-new-benefits_section1_banner-title h1 {
					line-height: 42px;
				}

			}

			/* Medium only - Portiat only*/
			@media screen and (min-width: 48em) and (max-width: 59.9375em) {

				.qbr-new-benefits_section1_banner-img {
					background-image: url(/documents/10482/277951/grey-header-tablet.png/5d29f229-37b3-453c-bdd8-7956c45407b1?t=1481168425784), url(/documents/10482/277951/benefits-banner-tablet.jpg/8516b56d-c446-4fa1-a4ee-5c5f2a4bbade?t=1481168418175);
					background-repeat: no-repeat, no-repeat;
					background-size: 100vw 100%, cover;
					background-attachment:scroll, scroll;
	    			background-position: left top, right top;
				}

			}

			/* Large and up */
			@media screen and (min-width: 60em) {

			}


		</style>

		<!-- Banner -->
		<section class="qbr-new-benefits_section1_banner-img expanded row">
			<div class="row">
				<div class="qbr-new-benefits_section1_banner-wrapper small-10 small-centered columns">
					<div class="qbr-new-benefits_section1_text-wrapper">
			<!-- 			<div class="qbr-new-benefits_section1_logo hide-for-small-only">
							<img src="./img/benefits/business-logo.svg">
						</div> -->
						<div class="qbr-new-benefits_section1_banner-title">
							<h1>New benefits, same spirit</h1>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- First statement -->
		<section class ="qbr-new-benefits_section2 expanded row">
			<div class="row">
				<div class="qbr-new-benefits_section2_text small-10 large-8 small-centered columns">
					<h1>We believe in the spirit of Australian business, and always striving for something better. That’s why we’ve kept our winning formula and mixed it with more features, brand new benefits, and bigger rewards for your business.</h1>
				</div>

			</div>
		</section>

		<!-- Second statement -->
		<section class ="qbr-new-benefits_section3 expanded row">
			<div class=" row">
				<div class="qbr-new-benefits_section3_title small-10 large-8 small-centered columns">
					<h2>Aquire is now Qantas Business Rewards</h2>
				</div>
				<div class="qbr-new-benefits_section3_text small-10 large-8 small-centered columns">
					<h4>Qantas Business Rewards delivers more great benefits, rewards and value along with other key improvements. Plus, our new site now sits on Qantas.com for even greater convenience.</h4>
				</div>
			</div>
			<div class="row">
				<div class="qbr-new-benefits_section3_title small-10 large-8 small-centered columns">
					<h2>Aquire Points are now Qantas Points</h2>
				</div>
				<div class="qbr-new-benefits_section3_text small-10 large-8 small-centered columns">
					<h4>To make things simpler, you now earn Qantas Points* for your business instead of Aquire Points. This means there’s more ways to earn than ever before and redemption for rewards is easier than ever.</h4>
				</div>
			</div>
		</section>

		<!-- Third statement -->
		<section class ="qbr-new-benefits_section4 expanded row">
			<div class=" row">
				<div class="qbr-new-benefits_section4_title small-10 large-8 small-centered columns">
					<h2>Earn Qantas Points from your first flight</h2>
					<!-- With icon-->
					<!-- <h2 class="qbr-new-benefits_section4_icon-plane">Earn Qantas Points from your first flight</h2> -->
				</div>
				<div class="qbr-new-benefits_section4_text small-10 large-8 small-centered columns">
					<h4>Keep your company’s Qantas Points in a single account and avoid the mess of separate frequent flyer accounts for everyone who flies.</h4>
				</div>
			</div>
			<div class="row">
				<div class="qbr-new-benefits_section4_title small-10 large-8 small-centered columns">
					<h2>The more you fly, the more you earn and the bigger the savings</h2>
					<!-- With icon-->
					<!-- <h2 class="qbr-new-benefits_section4_icon-dollar">The more you fly, the more you earn and the bigger the savings</h2> -->
				</div>
				<div class="qbr-new-benefits_section4_text small-10 large-8 small-centered columns">
					<h4>To make things simpler, you now earn Qantas Points* for your business instead of Aquire Points. This means there’s more ways to earn than ever before and redemption for rewards is easier than ever.</h4>
				</div>
			</div>
			<div class="row">
				<div class="qbr-new-benefits_section4_title small-10 large-8 small-centered columns">
					<h2>Benefits for your people</h2>
					<!-- With icon-->
					<!-- <h2 class="qbr-new-benefits_section4_icon-people">Benefits for your people</h2> -->
				</div>
				<div class="qbr-new-benefits_section4_text small-10 large-8 small-centered columns">
					<h4>Employees travelling under your ABN will still get their Qantas Frequent Flyer benefits, including Qantas Points and Status Credits. Plus, they get discounted Qantas Club memberships~ - where they can enjoy refreshments, showers, Wi-Fi and more - to make flying for work more comfortable.</h4>
				</div>
			</div>
		</section>

		<!-- Four statement -->
		<section class ="qbr-new-benefits_section5 expanded row">
			<div class=" row">
				<div class="qbr-new-benefits_section5_title small-10 large-8 small-centered columns">
					<h2>That’s just for starters.</h2>
				</div>
				<div class="qbr-new-benefits_section5_text small-10 large-8 small-centered columns">
					<h4>Watch this space, because we’ll be making improvements regularly.</h4>
				</div>
			</div>
		</section>

<script type="text/javascript">


	//FUNCTIONS
	//====================================================

	


  	//ONLOAD
	//====================================================

  	jQuery(document).ready(function(){

  	
  	});
	

	</script>