
		<style>

			.qbr_savings-tables_section1_title {
				padding: 60px 0px;
			}

			.qbr_savings-tables_section1_table-section h4 {
				margin-bottom: 0px;
				font-weight: bold;
    		}

    		.qbr_savings-tables_section1_table-section {
    			margin-bottom: 50px;
    		}

    		.qbr_savings-tables_section1_table-section:last-child {
    			margin-bottom:70px;
    		}

    		.qbr_savings-tables_section2 {
    			padding: 70px 0px 20px;
				border-top: 1px solid #e1e1e1;
    		}

			/* Small only */
			@media screen and (max-width: 59.7375em) {

				.qbr_savings-tables_section1_title {
					padding: 30px 0px;
				}

				.qbr_savings-tables_section1_table-section {
    				margin-bottom: 30px;
	    		}

	    		.qbr_savings-tables_section1_table-section:last-child {
	    			margin-bottom:50px;
	    		}

			}


			/* Medium only - Portiat only*/
			@media screen and (min-width: 48em) and (max-width: 59.9375em) {

			

			}

			/* Medium only - Landscape only*/
			@media screen and (min-width: 60em) and (max-width: 64em) {


			}


		</style>

		<!-- Banner -->
		<section class="qbr_savings-tables_section1_tables">
			<div class="row">
				<div class="small-11 small-centered large-10 columns">
					<div class="qbr_savings-tables_section1_title">
						<h1>Details of saving examples</h1>
					</div>
					<div class="qbr_savings-tables_section1_table-section">
						<h4>Example - Level 1</h4>
						<h4>Saving 5% off the base fare on these selected fares^</h4>
						<img src="/documents/10482/321923/table1.png">
					</div>
					<div class="qbr_savings-tables_section1_table-section">
						<h4>Example – Level 2</h4>
						<h4>Saving 7% off the base fare on these selected fares^</h4>
						<img src="/documents/10482/321923/table2.png">
					</div>
					<div class="qbr_savings-tables_section1_table-section">
						<h4>Example – Level 3</h4>
						<h4>Saving 8% off the base fare on these selected fares^</h4>
						<img src="/documents/10482/321923/table3.png">
					</div>
				</div>
			</div>
		</section>



		<section class ="qbr_savings-tables_section2 row">
			<div class="legal-copy small-12 columns">
				<p>Important Information</p>

				<p>^ Savings are indicative only as at 24 January 2017. Savings are available exclusively to Qantas Business Rewards Members on selected fares only and do not apply to taxes, fees and carrier charges. Availability is limited. Advance purchase and other conditions may apply.  Savings are subject to and defined in the <a href="/terms#airlinesavings">terms and conditions</a> of Qantas Business Rewards as Member Savings.</p>
			</div>
		</section>
